body{
    width: fit-content;
    height: fit-content;
}
img{
    width: 16em;
    height: 9em;
}
.card{
    width: fit-content;
    border: 1px black solid;
    border-radius: 16em;
    padding: 1em;
}
.title{
    margin-top: 1rem;
}
.text{
    width: 16em;
    margin-bottom: 0;
}